{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Edit Task -Taskmate </title>
{% endblock title %}

{% block content %}
    <div class="container">
    {% comment %} {{task_obj.task}} {% endcomment %}
            <br>
            <br>
    <form method='POST' class='row'>
        {% csrf_token %}
        <label class='col-lg-'></label>
        <input type="text" class="form-control  col-lg-6" name ='task' placeholder="{{task_obj.task}}" value="{{task_obj.task}}">
        <input type="hidden"  name ='done'  value="{{task_obj.done}}">

        <button type="submit" class="btn btn-primary col-lg-2">Update Task</button>
        <script src="{% static 'js/alert.js' %}" type="text/javascript"> </script>
    </form>

    </div>
{% endblock content %}
 